@import './utils/veriables';
@import './utils/placeholders';
@import './utils/visually-hidden';

@import './base/common';
@import './base/section';
@import './base/container';

@import './components/backdrop';
@import './components/modal-window';
@import './components/modal-form' ;

@import './layout/header';
@import './layout/main_section';
@import './layout/advanteges';
@import './layout/what-are-we-doing';
@import './layout/our-team';
@import './layout/regular-customers';
@import './layout/footer';
@import './layout/portfolio';