.div-footer {
    display: flex;
    justify-content: space-between;
}

.footer {
background-color: #2F303A;
padding: 60px 0;
}


.logo-footer {
    display: block;
    margin-bottom: 20px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--title-text-color);
}

.logo-footer-color {
    color: var(--primary-text-color)
}

.contact-us-item{
font-style: normal;
font-weight: 400;
line-height: 1.71;
color: var(--title-text-color);
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-us-list {
    margin-bottom: 10px;
}

.contact-us-list:last-child{
    margin-bottom: 0;
}

.dark{
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus {
    color: var(--primary-text-color);
    }
}




.social-title {
    display: flex;
    margin-bottom: 20px;
line-height: 1.14;
text-transform: uppercase;
color: var(--title-text-color);
}

.social_list {
    @extend %align;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
   
}

.social-list-item {
    display: flex;
    flex-wrap: wrap;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #44454E;
  }

.social-link {
    @extend %align;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #44454E;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background: var(--primary-text-color);
  }
}



.footer-form {
    @extend %align;
    justify-content: center;
}

.footer-form-input {
  width: 360px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: #2F303A;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 16px;

  &:focus {
    outline: none;
    border-color: var(--primary-text-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
}



.footer-button-form {
    @extend %align;
    justify-content:center ;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    background-color: var(--primary-text-color);
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 12px;
    border: 1px solid transparent;
}

.footer-form-icon {
    @extend %align;
    justify-content: center;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: var(--title-text-color);  
}