.section-d {
    padding-top: 0;
}

.section-list {
display: flex;
}


.section-title {
    margin-top: 0;
    margin-bottom: 50px;
font-size: 36px;
line-height: 1.16;
text-align: center;
}

.section-foto{
padding-right: 30px;
}

.doing-thumb {
    position: relative;
}

.doing-thumb > .doing-title {
    position: absolute;
    @extend %align;
    bottom: 0;
    left: 0;
    justify-content: center;
  
    width: 100%;
    height: 70px;
  
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
    background-color: rgba(47, 48, 58, 0.8);
}

.section-foto:last-child{
    padding-right: 0;
}