.modal-form {
    display: flex;
    flex-direction: column;

}
  
.modal-form-title {
    margin-bottom: 12px;
  
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    line-height: 1.15;
}
  
.modal-form-input {
    padding-left: 42px;
  
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:focus {
        border-color: var(--primary-text-color);
        outline: none;
    }
      
    &:focus + .modal-form-input-icon {
        fill: var(--primary-text-color);
    } 
}
  

  
.modal-form-desc {
    display: block;
    margin-bottom: 4px;
  
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--accent-color);
    
}
  
.modal-form-field {
    margin-bottom: 10px;
}
  
.modal-form-field-comment {
    margin-bottom: 20px;
}
  
.modal-form-input-wrapper {
    position: relative;
    display: block;
}
  
.modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


  
.modal-form-comment {
    display: block;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
  
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: var(--primary-text-color);
        outline: none;
    }
      
    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }
}
  

  

  
.modal-form-check-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  
    font-weight: 400;
    line-height: 1.71;
    cursor: pointer;
}
  
.modal-form-check-desc::before {
    content: '';
    display: block;
    width: 16px;
    height: 15px;
    background-image: url(../images/checkbox/cube.svg);
  
    margin-right: 7px;
}
  
.modal-form-check:checked + .modal-form-check-desc::before {
    background-color: var(--primary-text-color);
    background-image: url(../images/checkbox/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;

  
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.modal-form-check:focus + .modal-form-check-desc::before {
    outline: 1px solid var(--primary-text-color);
}
  
.user-policy-link {
    color: var(--primary-text-color);
    border-bottom: 1px solid var(--primary-text-color);
    display: inline-block;
    line-height: 0.85;
}
  
  
.modal-form-button {
    height: 50px;
    align-self: center;
    padding: 10px 32px;
    min-width: 200px;
    color: var(--title-text-color);
    background-color: var(--primary-text-color);
    border-radius: 4px;
    border: 1px solid transparent;   
}